{% extends "::base.html.twig" %}

{% block bandeau %} 
		{% include "::bandeau.html.twig" with {"idRubriqueBandeau" : 8, "hauteurBandeau" : 300} %}
{% endblock %}

{% block body %}
		<div class="article-list span-20 prepend-2 append-2 last append-bottom">
			{% for article in boucleArticles({ "idRubrique" : 8 },{}, 3) %}
				<div class="article span-20 last prepend-top">
					<div class="article-logo span-6 prepend-top">
						<img src="{{ image(article.getPathAbsoluteLocalLogo()).forceResize(220,380) }}">
					</div>
					<div class="article-conteneur-contenu span-14 last prepend-top">
						<h3 class="article-titre">{{ article.titre  }}</h3>
						<div class="article-contenu">
							<p>
								{{ article.texte | raw }}
							</p>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
{% endblock %}